<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My developer Skills</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>All of my developer skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        <form action="/skills/<%= s.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">remove</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add another skill</a>
</body>
</html>